
<head>
    <meta charset="UTF-8">
    <title>Sign up for Deakin Newsletter</title>
</head>
<body>
    <div class = "container">
            <form action="/Subscribe" method="POST" class = "form-container">
                <h4>Sign Up for Daily Insider 
                    <input type="email" class="form-control" id = "email" name="email" placeholder="Enter your email" required="required">
                    <button 
                    type="submit" 
                    class="btn btn-lg btn-primary btn-block">Subscribe</button>
                </h4>
            </form>
        </div>
    </div>
</body>
</html>