/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  background-color: darkcyan;
  float: left;
  width: 100%;
  padding-left: 10px;
}

.sub
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  float: left;
  padding-left: 10px;
  margin-bottom: 2px;
}

/* .sub input
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position:absolute;
  margin-left: 3%;
  margin-top: 40px; 
  justify-content: center;
  flex-direction: column;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
} */