
*{
    box-sizing: border-box;
}

body
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.back
{
    overflow: hidden;
    background-color:darkcyan;
}

.contactpage
{
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    font-size: 22px;
}

.back:after{
    content: "";
    display: table;
    clear: both;
}

.logos
{
    /* margin-top: 5px;
    margin-bottom: 10px; */
    position: right;
    padding-right: 190px;
    width: 150%;
    height: auto;
    
}
.logos img 
{ 
    width: 8%; 
    border-radius: 25px;
    margin-left: 5px;
}

.bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    font-size: 22px;
    padding: 0 320px;
}

